<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Midterm Survey</h1>
    <h2>Thank you for answering the survey, {{@SESSION.name}}</h2>
    <h3>Your answers:</h3>
    <repeat group="{{ @SESSION.options }}" value="{{ @option }}">
        <p>{{@option}}</p>
    </repeat>
</body>
</html>